[defaults]
host_key_checking = False
remote_user = "s_admin" #Run playbooks as user 's_admin'
inventory = /mnt/c/Users/Zohaib/HomeLab/Homelab/Global/Inventory/inventory
private_key_file = ~/.ssh/ansible
log_path = /mnt/c/Users/Zohaib/HomeLab/Homelab/Global/Logs/AnsibleLogs.txt
display_args_to_stdout = 1