*.exe
*.exe~
pc
**/pc
*tfstate*
*.zip
*.tar.gz
*.rar
*.plan
public/**
themes/**
files/**
**/files/**
**.DS_Store
**.git
Logs/**
logs/**
junk/**
.terraform/**
**/.terraform/**
.terraform.lock.hcl
.vscode
.vale.ini
.styles/**
.vscode/**
**settings.json*
python/public
out/
~
*.pem
*.crt
*.csr
script/set_signed.tf